<!DOCTYPE html>
<html>
<head>
  <title>Actualizar Contraseña</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<style>
    body{
        background-image: url('/static/images/iii.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
    }
</style>

<body>
  <div class="container">
    <h2>Actualizar Contraseña</h2>
    <form>
      <div class="form-group">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" name="new_passwor" class="form-control" id="password" placeholder="Ingresa tu nueva contraseña">
      </div>
      <button type="submit" class="btn btn-primary">Actualizar</button>
      <a type="button" href="{{ url_for('cuenta') }}" class="btn btn-danger">Cancelar</a>
    </form>
  </div>
</body>
</html>
