<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sedes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'headernav.html' %}
    <div class="container">
        <h1 class="text-center">Nucleos</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="../static/images/bocono.jpg" class="card-img-top" alt="Imagen 1" height="145">
                    <div class="card-body">
                        <h5 class="card-title">Imagen 1</h5>
                        <p class="card-text">Sede de Bocono</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="../static/images/trujillo.jpg" class="card-img-top" alt="Imagen 2" height="145">
                    <div class="card-body">
                        <h5 class="card-title">Imagen 2</h5>
                        <p class="card-text">Sede de Trujillo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="../static/images/carache.jpg" class="card-img-top" alt="Imagen 3" height="145">
                    <div class="card-body">
                        <h5 class="card-title">Imagen 3</h5>
                        <p class="card-text">Sede de Carache</p>
                    </div>
                </div>
            </div>
            <!-- Agrega más imágenes y tarjetas según sea necesario -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
